/***************
*
*   DEMO PAGE STYLES
*
*************/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 920px;
    margin: 16px 0;
}

.cf:before,
.cf:after {
    display: table;
    content: '';
}
.cf:after {
    clear: both;
}

.header {
    padding: 32px;
    border-bottom: 4px solid #FD1472;
}

.content {
    position: relative;
}

.aside,
.container {
    padding: 32px;
}

.aside {
    width: 30%;
    float: left;
    overflow: hidden;
    background-color: #E7E7E7;
    -webkit-transition: background-color 150ms ease-in-out, color 200ms ease-out;
    transition: background-color 150ms ease-in-out, color 200ms ease-out;
}

.container {
    width: 70%;
    float: right;
}

.footer {
    padding: 32px;
    border-top: 4px solid #FD1472;
    clear: both;
}
.footer a {
    color: #FD1472;
}




/***************
*
*   TIP-OFF STYLES
*
*************/

@media screen and (min-height: 10em) and (max-height: 25em) {

    .tip-off::before, .tip-off::after {
        content: "";
        display: block;
        position: fixed;
        cursor: pointer; }
    .tip-off::before {
        content: "Para una navegación más sencilla te recomendamos usar tu dispositivo en vertical";
        width: 80%;
        height: auto;
        top: 50%;
        left: 50%;
        z-index: 101;
        color: #101116;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        border: 1px solid #fafafa;
        background: rgba(255, 255, 255, 0.9);
        padding: 16px;
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    .tip-off::after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.6); }
    .tip-off:target {
        display: none; } 
}